/* Här bestämmer jag att alla de två delarna där jag använder en grid. Den ena ska vara 500px resten "Auto" precis som på huvudsidan, Detta för att man ska veta att man är på samma webbplats men att det finns olika kategorier.*/

.container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 500px auto auto;
  grid-gap: 0px;
}

/* Det här är delen av sidan där jag har några skins som man kan bläddra mellan genom knappar i javascript och här har jag specifierat lite hur layout på den delen ska vara.*/

#skincontainer{
  display: grid;
  grid-template-columns: 14vw auto 14vw;
  grid-template-rows: 100%;
  height: auto;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

/* Horisontellt ska alla rader ta upp hela skärmen.*/

header{
  grid-column: 1/-1;
}
nav{
  grid-column: 1/-1;
}
section{
  grid-column: 1/-1;
}
footer{
  grid-column: 1/-1;
}

/* Lite olika anpassningar för olika stora skärmar som exempelvis 1000 px, 600px etc.*/

@media screen and (max-width: 1000px){
  .container{
    grid-template-rows:300px;
  }
  .navigation{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px){
  .container{
    grid-template-rows:200px;
  }
}
@media screen and (max-width: 500px){
  .navigation{
    grid-template-columns: repeat(1,1fr);
  }
  .h1{
    font-size: 80px;
  }
}
@media screen and (max-width: 400px){
  .container{
    grid-template-rows:150px;
  }
  .h1{
    font-size: 70px;
  }
}
